<ul class="list-group split-left-group">
  <% @stars.each do |e| %>
      <li class="list-group-item category-list-item" data-type="star" data-id="<%= e %>">
        <p class="tag-name" style="font-size: 16px;">
          <%= e %>+
        </p>
      </li>
  <% end %>
</ul>
