<ul class="list-group split-left-group">
  <% @searches.each do |e| %>
      <li class="list-group-item category-list-item" data-type="search" data-id="<%= e[:id] %>">
        <span>
          <p style="font-size: 16px;"><%= e[:name] %> <i class="fa fa-info-circle"></i></p>
        </span>
      </li>
  <% end %>
</ul>
